<% title "Edit Prospect Structure" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @prospect_structure %> |
  <%= link_to "View All", prospect_structures_path %>
</p>


<ul>
	<li>Lunedi</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
